$main-menu-backgroud-color: #f5f5f5;
$main-menu-backgrround: #56c000;
$main-menu-hover: #5fd400;
$footer-background: #ffffff;
$socials: #56c000;
$socials-hover: #202020;
$contact-block-background: #5fd400;
$contact-form-background: #56c000;
$login-text-color: #5fd400;
$contact-icon: #56c000;
$why-choose-circle: #5fd400;
$join-us-button: #5fd400;
$join-us-button-border: #56c000;
$testimonials-slider-arrow-hover: #5fd400;
$testimonials-slider-arrow-hover-border: #56c000;
$alert-message: #5fd400;
$latest-news-hover: #5fd400;
$contact-block-background: #5fd400;
$news-hover: #56c000;
$paginator: #5fd400;
$paginator-active: #b6f682;
$article-block: #5fd400;
$post-search-form: #5fd400;
$border-gradient-left: #c9ff3a;
