/*contacts*/
.js-contact-map{
    height:100%;
}
.contact-block__map{
    display: block;
    height: 390px;
    width: 100%;
}
.contact-block-background{
    background-color: $contact-block-background;
    padding: 50px 0;
}
.contact-block{
    max-width: $main-width;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10px;
    position: relative;
}
.contact-block__info,
.contact-block__form{
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size:50%;
        flex-basis:auto;
        -webkit-flex-basis:auto;
    min-width: 280px;
}
.contact-block__info{
    margin-bottom: 20px;

}
.contact-block__form{
    max-width: 570px;
}
.contact-block__container{
    max-width: 350px;
}
.contact-block__container h1{
    margin-bottom: 30px;
}
.contact-block__contact-information{
    margin-top: 30px;
}
.contact-block__contact-information li{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
}
.contact-block__contact-information li p{
    display: block;
}
.contact-block__contact-information li p:first-child{
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    margin-right: 10px;
    text-align: center;
    border-radius: 100%;
    color: #ffffff;
    background-color: $socials;
    min-width: 36px;
}
.contact-block__send-form{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.contact-block__send-form input{
    max-width: 372px;
}
.contact-block__send-form-wrapper{
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    padding: 12px;
    background-color: $contact-form-background;
}
.contact-block__send-form input[type="text"],
.contact-block__send-form input[type="email"],
.contact-block__send-form textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #ffffff !important;
    outline: none;
    height: 32px;
    color: inherit;
    font-size: 16px;
    margin: 3px 0 6px;
}
.contact-block__send-form input[type="text"]:focus,
.contact-block__send-form input[type="email"]:focus,
.contact-block__send-form textarea:focus{
    border: 1px solid #d40000;
}

.contact-block__send-form textarea{
    max-width: inherit;
    height: 130px;
    resize: none;
}
.es_button{
    border: none;
    border-bottom: 2px solid #0d0d0d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #202020;
    outline: none;
    height: 40px;
    width: 143px;
    color: #ffffff;
    font-size: 16px;
    margin: 3px 10px 6px 0;
}
.es_button:hover{
    background: #0d0d0d;
}
.contact-block__button-container{
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.message_sent{
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 10%;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    padding-right: 20px;
}
.message_sent__container{
    position: relative;
    padding: 30px;
    margin: auto;
    max-width: 580px;
    background-color: $alert-message;
    border-radius: 5px;
    z-index: 2;
}
.message_sent__container .close{
    border: none;
    background: none;
    color: #000000;
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
.message_sent__container .close:hover{
    opacity: 0.5;
}
.message_sent__container h1{
    margin-bottom: 20px;
    font-size: 28px;
    color: #ffffff;
}
.message_sent__container div{
    line-height: 20px;
}
.message_sent__container > p{
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
}
/*end of contacts*/
