.latest-news{
    background-color: #ffffff;
    width: 100%;
}
.latest-news__container h1{
    margin: 0 0 18px 8px;
}
.latest-news__container{
    max-width: $main-width;
    margin: auto;
    padding: 20px 10px 45px;

}
.latest-news__block-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

}
.latest-news__block-wrapper a:hover{
    color: $latest-news-hover;
}
.latest-new__date{
    height: 51px;
    min-width: 78px;
    max-width: 78px;
    background-color: #202020;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    margin-right: 22px;
}
.latest-new__content{
    margin-top: 15px;
}
.latest-news__container ul li{
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    margin: 10px 10px 0;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.latest-news__grid{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
